body {
  background-color: black;
}

div {
  align-content: center;
  padding: 5px;
  margin: 5px;
  background: yellow;
}

h1,
h2,
h3 {
  text-align: center;
  color: red;
  text-decoration: underline;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
}

.create-form {
  text-align: center;
  margin-bottom: 10px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}
